<%= form_for(Checkin.new, url: 'checkin/create') do |f| %>
  <%= f.submit "I'm here!", title: "Checkin for the next hour" %>
<% end %>

<h2>Who's On Deck?</h2>

<% @current.each do |ci| %>
  <span class="btn checkin">
    <i class="icon-user"></i>
    <%= checkin_badge ci %>
  </span>
<% end %>

<h2>Everyone</h2>
<%= magic_grid(User.scoped,
               [{ col: :fullname, label: 'Name'},
                { col: :last_sign_in_at,
                  label: 'Last seen',
                  to_s: ->(u) {
                    if u.last_sign_in_at
                      last_seen = distance_of_time_in_words Time.now, u.last_sign_in_at
                      "#{last_seen} ago"
                    else
                      'never'
                    end
                  }
                }]) %>
